@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Livvic";
  background-color: rgb(1, 78, 86);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 73px 0 128px;
}

.haeder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__logo-navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 80px;
}

.header__logo-link {
  display: inline-block;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header__link {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
  transition: all 0.3s linear;
}
.header__link:hover {
  color: rgb(246, 126, 126);
}

.header__contact-link {
  display: inline-block;
  width: 153px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.header__contact-link:hover {
  background-color: white;
  color: rgb(1, 78, 86);
}

.header__hamburger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.modal-outer {
  position: fixed;
  z-index: 50;
  width: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s linear;
}

.modal-inner {
  padding: 56px 25px 0 48px;
  position: fixed;
  right: -100%;
  z-index: 51;
  width: 65%;
  height: 100vh;
  right: 0;
  background-color: rgb(1, 78, 86);
}

.modal-inner > a {
  display: inline-block;
  margin-top: 12px;
  display: inline-block;
  width: 159px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.modal-inner > a:hover {
  background-color: white;
  color: rgb(1, 78, 86);
}

.modal__close-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
}

.modal__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.modal__item > a {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
  transition: all 0.3s linear;
}
.modal__item > a:hover {
  color: rgb(246, 126, 126);
}

.hidden-croll {
  overflow-y: hidden;
}

.show-outer {
  right: 0;
}

.show-inner {
  right: 0;
}

@media only screen and (max-width: 800px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__logo-navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
  }
}
@media (max-width: 600px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__list {
    display: none;
  }
  .header__logo-navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
  }
  .header__contact-link {
    display: none;
  }
  .header__hamburger-btn {
    display: block;
  }
}
.hero-section {
  background-image: url(../../images/bg-images.svg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% - 741px) top;
}

.hero {
  padding-bottom: 250px;
  background-image: url(../../images/bg-images2.svg);
  background-repeat: no-repeat;
  background-size: 358px 100px;
  background-position: bottom right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.hero__title-wrapper {
  width: 550px;
}

.hero__title {
  margin-bottom: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: white;
}

.hero__title--color {
  color: rgb(246, 126, 126);
}

.hero__text-wrapper {
  width: 445px;
}

.hero--text-top-line {
  margin-bottom: 79px;
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: rgb(121, 200, 199);
}

.hero__text {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    background-position: center bottom;
  }
  .hero__text-top-line {
    display: none;
  }
  .hero__title {
    margin-bottom: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: white;
  }
  .hero__text {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: white;
  }
  .hero__title--color {
    color: rgb(246, 126, 126);
  }
  .hero__title-wrapper, .hero__text-wrapper {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hero {
    padding-bottom: 197px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
  }
  .hero__title {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
  }
  .hero__title--color {
    color: rgb(246, 126, 126);
  }
}
@media (max-width: 400px) {
  .hero {
    background-size: 100%;
  }
}
.build-section {
  padding: 140px 0 140px;
  background-color: rgb(1, 47, 52);
  background-image: url(../../images/build-section-bg.svg);
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: bottom right;
}

.build {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: px;
}

.build__title-wrapper {
  max-width: 445px;
}

.build__title-line {
  margin-bottom: 54px;
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: rgb(246, 126, 126);
}

.build__title {
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: white;
}

.build__list {
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 32px;
}

.build__item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 23px;
}

.build__item-content {
  width: 445px;
}

.build__item-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(246, 126, 126);
}

.build__item-text {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #CCD5D6;
}

@media only screen and (max-width: 954px) {
  .build-section {
    background-color: rgb(1, 47, 52);
    padding: 100px 0 56px 100px;
    background-position: top right;
  }
  .build {
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 64px;
  }
  .build__title-wrapper {
    width: 100%;
  }
  .build__title-line {
    margin-bottom: 32px;
  }
  .build__title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
  .build__item-content {
    width: 100%;
  }
  .build__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
  }
  .build__item-title {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(246, 126, 126);
  }
}
@media (max-width: 700px) {
  .build-section {
    padding: 100px 0 100px;
    background-color: rgb(1, 47, 52);
  }
  .build__title-wrapper {
    max-width: 70%;
  }
  .build__list {
    gap: 32px;
  }
  .build__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-direction: column;
    text-align: center;
  }
  .build__item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-direction: column;
  }
}
.stories-section {
  padding: 140px 0;
  background-image: url(../../images/stories-bg-img.svg), url(../../images/stories-bg-img-bottom.svg);
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: top left, bottom right;
}

.stories {
  text-align: center;
}

.stories__title-wrapper {
  max-width: 932px;
  margin: 0 auto;
}

.stories__title {
  margin-bottom: 56px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: white;
}

.stories__title--color {
  color: rgb(121, 200, 199);
}

.stories__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.stories__item-images {
  margin-bottom: -25px;
}

.stories__item {
  max-width: 350px;
}

.stories__item-top-text {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

.stories__item-title {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(121, 200, 199);
}

.stories__item-bottom-text {
  display: block;
  margin-bottom: 32px;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  color: white;
}

@media (max-width: 800px) {
  .stories-section {
    padding: 100px 0;
  }
  .stories__title-wrapper {
    max-width: 573px;
    margin: 0 auto;
  }
  .stories__title {
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: white;
  }
  .stories__title--color {
    color: rgb(121, 200, 199);
  }
  .stories__list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
    flex-direction: column;
  }
  .stories__item {
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .stories-section {
    padding: 140px 0;
  }
  .stories__title--color {
    color: rgb(121, 200, 199);
  }
}
.started-section {
  padding: 76px 0;
  background-color: rgb(246, 126, 126);
  background-image: url(../../images/started-section-bg.svg);
  background-repeat: no-repeat;
  background-size: 200px 144px;
  background-position: left bottom;
}

.started {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 226px;
  padding-left: 98px;
}

.started-title {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: rgb(1, 47, 52);
  display: inline-block;
}

.started-link {
  display: inline-block;
  display: inline-block;
  width: 153px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid rgb(1, 47, 52);
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(1, 47, 52);
}
.started-link:hover {
  background-color: rgb(1, 47, 52);
  color: rgb(246, 126, 126);
}

@media (max-width: 1016px) {
  .started-section {
    padding: 84px;
  }
  .started {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding-left: 98px;
  }
}
@media (max-width: 750px) {
  .started-section {
    padding: 83px 0;
  }
  .started {
    padding-left: 24px;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
  }
}
.contact-hero-section {
  padding: 0 0 120px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.hero__contact {
  max-width: 540px;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0px;
}

.hero__contact-title {
  margin-bottom: 16px;
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  color: white;
}

.hero__contact-text-color {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: rgb(246, 126, 126);
}

.hero__contact-content-wrapper {
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 8px;
}

.hero__contact-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 23px;
}

.hero__contact-content-text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: white;
}

.footer-site {
  padding: 48px 0;
  background-color: rgb(1, 47, 52);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 25px;
}

.footer__next-page {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.footer__next-page-link {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: white;
}

.footer__address-wrapper {
  max-width: 445px;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0px;
  text-align: left;
}

.footer__address-link {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #CCD5D6;
}

.footer__profile-wrapper {
  margin: 0 end;
  text-align: right;
}

.footer__profile-link-wrapper {
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 16px;
  margin-bottom: 51px;
}

.footer__profile-text {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #CCD5D6;
}

@media (max-width: 800px) {
  .footer-site {
    padding: 56px 0;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0x;
    flex-wrap: wrap;
  }
  .footer__logo-wrapper {
    display: inline-block;
    max-width: 107px;
  }
  .footer__logo-img {
    max-width: 96px;
    max-height: 24px;
    margin-bottom: 53px;
  }
  .footer__next-page {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
    margin-bottom: 32px;
  }
  .footer__address-wrapper {
    max-width: 445px;
    display: flex;
    align-items: end;
    margin-bottom: 32px;
  }
  .footer__address-link {
    display: inline-block;
    margin-bottom: 10px;
  }
  .footer__profile-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3px;
    width: 744px;
  }
  .footer__profile-link-wrapper {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 16px;
  }
}
@media (max-width: 600px) {
  .footer-site {
    padding: 66px 0;
    background-color: rgb(1, 47, 52);
  }
  .footer {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer__logo-wrapper {
    margin-bottom: 24px;
  }
  .footer__address-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .footer__profile-wrapper {
    margin-top: 40px;
    align-items: center;
    max-width: 100%;
    flex-direction: column;
  }
  .footer__profile-link-wrapper {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=main.css.map */